.moviesList {
  margin-top: 5%;

  .plot {
    font-size: 0.8vw;
  }
  hr {
    margin-bottom: 7px;
    margin-top: 17px;
  }
  .thumbnails {
    padding: 10px;

    .movie {
      position: relative;
      background-color: #FFF;
      border: 1px solid #CCC;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 0 8px #DDD;
      margin-bottom: 20px;
      height: 230px;

      .poster {
        background-size: cover;
        position: relative;
        margin-right: 10px;
        width: 138px;
        height: 207px;
        float: left;

        .resolutions {
          position: absolute;
          top: 10px;
          left: 1px;
          width: 136px;

          .btn {
            width: 100%;
            margin-bottom: 10px;
            color: #000;
            border: none;
            border-radius: 0;
            background-color: rgba(255, 255, 255, 0.8);
          }

          .btn:hover, .btn:focus {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 1.0);
          }
        }
      }

      .poster:hover, .poster:focus {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
      }

      .movie-infos {
        max-height: 202px;
        overflow: hidden;
      }

      .movie-basics {
        font-size: 0.8vw;

        .rated {
          border: 1px solid #777;
          padding: 1px 4px;
          margin-right: 4px;
          font-weight: bold;
        }
      }

      .imdb-rating {
        margin-top: 3px;
        font-size: 0.95vw;
        margin-bottom: 3px;
      }

      h4 {
        color: $primary;
        margin-bottom: 7px;
        margin-top: 10px;
        font-size: 1.4vw;
      }

      .plot, .director, .stars {
        font-size: 0.8vw;
        margin-bottom: 2px;
        color: #989898;

      }
    }
  }
}

.stream {
  .video-container {
    .movie {
      min-height: 500px;
    }
  }
  .thumbnails {
    padding: 0 !important;
    .movie-infos {
      max-height: 207px;
      height: 207px;
    }
    .movie {
      height: auto;
    }
  }
}

.myButton {
  background-color: #ff8f00;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-top: 2px solid #18aba9;
  border-bottom: 2px solid #18aba9;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 15px;
  font-style: italic;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 43%;
  text-decoration: none;
  text-shadow: 1px 2px 0px #2f6627;
}

.myButton:hover {
  //background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
  //background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  //background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  //background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  //background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  //background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  //filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  //background-color:#5cbf2a;
}
