<div class="container-fluid homepage">
	<div class="jumbotron center-block">
		<div class="text-center">
			<h1><strong><span style="color: #fff;text-shadow: 3px 3px 5px #000;">HYPER</span>TUBE</strong></h1>
			<a id="register" href="/users/register" class="btn btn-link btn-lg">Register</a>
			<a id="login" href="/users/login" class="btn btn-primary btn-lg">Login</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/home.js"></script>
