<div class="container-fluid homepage">
	<div class="jumbotron center-block">
		<h1><strong><span style="color: #fff;text-shadow: 3px 3px 5px #000;">HYPER</span>TUBE</strong></h1>
		<a href="/users/register" class="btn btn-primary btn-lg">Register</a>
		<a href="/users/login" class="btn btn-link btn-lg">Login</a>
	</div>
</div>
